.blink_me
    animation: blinker 4s cubic-bezier(.77,0,.18,1) infinite

@keyframes blinker
    0%
        color: #f7ad00
        text-shadow: 0px 0px 39px #f7ad00
    20%
        color: #ff08ad
        text-shadow: 0px 0px 39px #ff08ad
    40%
        color: #3742f5
        text-shadow: 0px 0px 39px #3742f5
    60%
        color: #adc600
        text-shadow: 0px 0px 39px #adc600
    80%
        color: #f7ad00
        text-shadow: 0px 0px 39px #f7ad00