@font-face
    font-family: 'Aphrodite'
    src: url('../fonts/aphrodite.ttf') format('truetype')

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap')

#header_topbar
    background: #b89062

    ul
        display: flex
        list-style: none
        justify-content: right
        padding: 0
        margin: 0

        li
            a
                display: block
                padding: 10px
                color: #ffecd6
                font-size: 0.9em

#header
    background: #fef8f4
    margin: 0

    #center_logo
        display: flex
        justify-content: center

        a
            img
                width: 105px

    #header_bottom
        ul
            display: flex
            justify-content: center
            align-items: center
            margin-top: 20px
            margin-bottom: 0

            li
                list-style: none

                a
                    padding: 10px 20px
                    text-transform: uppercase
                    color: #9e7c55

#content
    background: #fef8f4
    color: #8f7250
    font-size: 16px

    h1
        font-family: 'Dancing Script'
        font-size: 48px
        line-height: 48px
        color: #1a5675

    h2
        font-family: 'Dancing Script'
        font-size: 36px
        line-height: 36px
        color: #1a5675

    #section1
        display: flex
        padding: 20px 0

        .left_content
            padding-left: 5%
            width: 42%

    #section2
        padding: 20px

        .center_title
            display: block
            text-align: center

        .listbox
            
            .iconbox
                text-align: center
                padding: 20px
                
                .icon img
                    margin: 0 auto
                    height: 70px

    #section3
        .center_title
            display: block
            text-align: center
            margin-bottom: 60px

            img
                margin: 0 auto
