@font-face
    font-family: 'Aphrodite'
    src: url('../fonts/aphrodite.ttf') format('truetype')

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap')

#header_topbar
    background: #b89062

    ul
        display: flex
        list-style: none
        justify-content: right
        padding: 0
        margin: 0

        li
            a
                display: block
                padding: 10px
                color: #ffecd6
                font-size: 0.9em

#header
    background: #fef8f4
    margin: 0

    #center_logo
        display: flex
        justify-content: center
        margin-bottom: 10px

        a
            img
                width: 105px

    #header_bottom
        ul
            display: flex
            justify-content: center
            align-items: center
            margin-top: 20px
            margin-bottom: 0

            li
                list-style: none

                a
                    padding: 10px 20px
                    text-transform: uppercase
                    color: #9e7c55


    