// Khai báo kích thước tương ứng với màn hình thiết bị
$XS: 480px
$SM: 768px
$MD: 1024px
$XL: 1170px

// media queries
@mixin Responsive($canvas)
    @if $canvas == XS
        @media screen and (max-width: $XS)
            #login
                .small_right
                    #loginform
                        padding: 0 5%

                        .social_login
                            display: flex
                            justify-content: space-around

                            .social_btn
                                display: inline-block

                                a
                                    margin: 0
                                    padding: 0
                                    box-shadow: none

                                    span
                                        display: none

                                    &:hover
                                        box-shadow: none

                    .register_greeting
                        margin: 0 7%

            #checkout
                #status
                    display: flex
                    margin-top: 15px

                #payment
                    .mui-tabs__bar 
                        li 
                            a
                                font-size: 12px

    @else if $canvas == SM
        @media screen and (max-width: $SM) and (orientation: portrait)
            #login
                display: block

                .large_left
                    display: none
                    width: 100%

                .small_right
                    display: grid
                    width: 100%
                    align-items: center

            .btxs
                border-top: 1px solid lightgray

            #checkout
                #payment
                    .mui-tabs__bar 
                        li 
                            a
                                font-size: 14px

            #detail_card
                width: 100%

    @else if $canvas == MD
        @media screen and (max-width: $MD)
            #login
                .large_left
                    display: block
                    width: 50%

                .small_right
                    display: block
                    width: 50%

                    #loginform
                        padding: 0 7%

            #hera_sidebar
                display: none

            #header_bar 
                .mobile_menu
                    display: block

    @else if $canvas == XL
        @media screen and (min-width: $MD)

    @else if $canvas == XXL
        @media screen and (min-width: $XL)
